<!DOCTYPE html>
<html>
<head>
	<title>One Million</title>
</head>
<body style="text-align: center;">

	<h1>OneMillion</h1>
	<a href="#">Member</a>
	<a href="#">Profile</a>
	<hr>
	<table align="center" width="60%">
		<tr>
			<td><a href="#">Create</a></td>
		</tr>
		<tr>
			<th width="80%">Title</th>
			<th width="10%">Edit</th>
			<th width="10%">Delete</th>
		</tr>
		<tr>
			<td>topic 1</td>
			<td><a href="#">edit</a></td>
			<td><a href="#">delete</a></td>
		</tr>
		<tr>
			<td>topic 2</td>
			<td><a href="#">edit</a></td>
			<td><a href="#">delete</a></td>
		</tr>
		<tr>
			<td>topic 3</td>
			<td><a href="#">edit</a></td>
			<td><a href="#">delete</a></td>
		</tr>
	</table>

</body>
</html>