<!DOCTYPE html>
<html>
<head>
	<title>One Million</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

	<div class="container">
		<h1>One Million</h1>
		<div class="links">
			<a href="#">Member</a>
			<a href="#">Profile</a>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<br>
				<button type="button" class="btn btn-info btn-lg btnn">Create</button>
				<br><br>
				<thead class="thead-inverse">
					
					<tr>
						<th width="80%">Title</th>
						<th width="10%">Edit</th>
						<th width="10%">Delete</th>
					</tr>
					{% for post in posts %}
					<tr>
						<td>{{post.title}}</td>
						<td><a href="#">edit</a></td>
						<td><a href="#">delete</a></td>
					</tr>
					{% endfor %}
				</thead>
			</table>
		</div>

	</div>

</body>
</html>